<div id="<%= dom_id flashcard %>">
  <div>
    <strong>Word:</strong>
    <%= flashcard.word %>
  </div>

  <div>
    <strong>Meaning:</strong>
    <%= flashcard.meaning %>
  </div>

  <div>
    <strong>Example:</strong>
    <%= flashcard.example %>
  </div>

  <div>
    <strong>Level:</strong>
    <%= flashcard.level %>
  </div>

</div>
