<%= form_with(model: flashcard) do |form| %>
  <% if flashcard.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flashcard.errors.count, "error") %> prohibited this flashcard from being saved:</h2>

      <ul>
        <% flashcard.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :word, style: "display: block" %>
    <%= form.text_field :word %>
  </div>

  <div>
    <%= form.label :meaning, style: "display: block" %>
    <%= form.textarea :meaning %>
  </div>

  <div>
    <%= form.label :example, style: "display: block" %>
    <%= form.textarea :example %>
  </div>

  <div>
    <%= form.label :level, style: "display: block" %>
    <%= form.number_field :level %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
